<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/navbar :: head">
<meta charset="UTF-8">
<title>Update Alumno</title>

</head>
<body>

	<header th:replace="layout/navbar :: header"></header>



	<!-- CONTENIDO-->
	<section class="container mx-auto mt-4">

		<div class="row container mx-auto">
			<table class="table">
				<thead>
					<tr >
						<th colspan="2" class="text-center fw-bold">Reporte de Matricula: Periodo
						<spam th:text="${m.periodo}"></spam></th>
					</tr>
				</thead>
				<tbody class="text-center">
					<tr>
						<th class="p-3"><h6 class="fw-bold fs-5">Fecha de Inicio</h6></th>
						<th class="p-3"><h6 class="fw-bold fs-5">Fecha de
								Culminación</h6></th>
					</tr>
					<tr>
						<th class="fw-normal fs-6"
							th:text="${#dates.format(m.inicio, 'dd/MM/yyyy')}"></th>
						<th class="fw-normal fs-6"
							th:text="${#dates.format(m.finalizacion, 'dd/MM/yyyy')}"></th>
					</tr>
					<tr>
						<th class="p-3"><h6 class="fw-bold fs-5">Sección</h6></th>
						<th class="p-3"><h6 class="fw-bold fs-5">Curso</h6></th>
					</tr>
					<tr>
						<td class="fw-normal fs-6" th:text="${m.seccion}"></td>
						<td class="fw-normal fs-6" th:text="${m.curso.nombre}"></td>
					</tr>

				</tbody>

			</table>
			<table class="table">
				<thead>
					<tr>
						<th class="text-center fw-bold">Alumnos Matriculados</th>
					</tr>
				</thead>
				<tbody class="text-center">

					<tr th:each="a:${m.alumno}">
						<td class="fw-normal fs-6"
							th:text="${a.nombre}+' '+${a.apellido}+' - '+${a.correo}"></td>
					</tr>
				</tbody>

			</table>

		</div>
	</section>
	<footer th:replace="layout/navbar :: resource"></footer>
</body>
</html>



